/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --darck-color: #000000;
  --white-color: #ffffff;
  --red-color: #ED4C5C;
 }
 
 /* Стили для текста */
 
 .text_h1 {
  font-family: 'RobotoBold';
  font-size: 72px;
  letter-spacing: 3.8px;
  color: var(--white-color);
  text-transform: uppercase;
 }
 .text_h2 {
  font-family: 'RobotoMedium';
  font-size: 36px;
  color: var(--darck-color);
 } 
 .text_h3 {
  font-family: 'RobotoMedium';
  font-size: 18px;
  color: var(--darck-color);
 }
 .text_p {
  font-family: 'RobotoMRegular';
  font-size: 14px;
  color: var(--darck-color);
 }
 .text_preview {
  font-family: 'RobotoMRegular';
  font-size: 12px;
  color: var(--darck-color);
 }
 .text_link {
  font-family: 'RobotoMRegular';
  font-size: 12px;
  color: var(--red-color);
  text-decoration: none;
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 1110px;
  margin: 0 auto;
 }

 /* Header */

 .header__ {
  background-image: url(../img/bg_header.jpg);  
  background-size: cover;
  background-repeat: no-repeat; 
  padding-bottom: 186px;
}

/* Navbar */

.header__navbar {
  padding-top: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 169px;
}
.header__navbar_menu {
  margin-right: 12px;
  display: flex;
  justify-content: space-between; 
  width: 440px;
  list-style: none;
}
.header__navbar_menu_item:last-child {
  margin-right: 0;
}
.header__navbar_menu_item a{
  font-family: 'RobotoMedium';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}
.header__navbar_btn {
  width: 100px;
  height: 40px;
  border: solid 1px var(--white-color);
  border-radius: 6px;
  background-color: transparent;
  color: var(--white-color);
  font-family: 'RobotoMRegular';
  font-size: 14px;
  text-transform: uppercase;
}

/* Firstscreen */

.header__firstscreen_title {
  text-align: center;
  margin-bottom: 40px;
}
.header__firstscreen_text {
  max-width: 443px;
  text-align: center;
  margin: 0 auto 56px;
  font-family: 'RobotoMedium';
  font-size: 24px;
  line-height: 36px;
  color: var(--white-color);
}
.header__firstscreen_btn {
  padding-top: 0;
  padding-left: 0;
  width: 160px;
  height: 50px;
  background-color: var(--white-color);
  border-radius: 6px;
  border: none;
  color: var(--red-color);
  font-family: 'RobotoMRegular';
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

/* About */

.about__flex {
  padding-top: 94px;
  display: flex;
}
.about__content {  
  max-width: 445px;
  margin-right: 125px;
}
.about__title {
  padding-top: 33px;
  margin-bottom: 47px;
}
.about__text {
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 14px;
}
.about__link {
  font-size: 14px;
}
.about__video {
  width: 445px;
  height: 311px;
  border-radius: 15px;
  margin-bottom: 95px;
}

/* Benefits */

.benefits {
  background-color: #FAFAFA;
  padding-bottom: 283px;
}
.benefits__title {
  padding-top: 63px;
  text-align: center;
  margin-bottom: 77px;
}
.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
}
.benefits__card {
  position: relative;
}
.benefits__img {
  z-index: 1;
}
.benefits__content {
  background-color: var(--white-color);
  border-radius: 8px;
  z-index: 2;
  width: 293px;
  position: absolute;
  top: 157px;
  left: 50%;
  transform: translate(-50%);  
  padding-bottom: 25px;
  box-shadow: 1px 4px 4px 0px rgba(34, 60, 80, 0.25);
}
.benefits__content_title {
  padding-top: 26px;
  text-align: center;
  max-width: 229px;
  margin: 0 auto 20px;
}
.benefits__content_text {
  max-width: 229px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto 16px;
}
.benefits__content_link {
  display: block;
  text-align: center;
}

/* Services */

.services__title {
  padding-top: 65px;
  text-align: center;
  margin-bottom: 65px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 213px;
}
.services__card {  
  position: relative;
}
.services__card_number {
  font-family: 'LatoBold';
  font-size: 100px;
  color: #101010;
  opacity: 0.08;
  text-align: center;  
  margin: 0 auto;
  z-index: 1;
}
.services__card_content {
  position: absolute;  
  left: 50%;
  transform: translate(-50%);
  top: 58px;
  
}
.services__card_img-inner {
  height: 60px;
}
.services__card_img {
  margin: 0 auto;
}
.services__card_title {
  width: 209px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.services__card_text {
  max-width: 191px;
  margin: 0 auto;
  text-align: center;
}

/* Download */

.download {
  background-color: var(--red-color);
}
.download__flex {
  padding-top: 94px;
  display: flex;
}
.download__content {
  margin-right: 125px;
}
.download__title {
  padding-top: 28px;
  max-width: 345px;
  color: var(--white-color);
  margin-bottom: 50px;
}
.download__text {
  max-width: 445px;
  color: var(--white-color);
  line-height: 20px;
  margin-bottom: 42px;
}
.download__socials {
  display: flex;
  justify-content: space-between;
  width: 85px;
}
.download__video_mp4 {
  width: 445px;
  height: 311px;
  border-radius: 15px;
  margin-bottom: 91px;
}

/* Contacts */

.contacts__flex {  
  padding-top: 159px;
  display: flex;
  margin-bottom: 136px;
}
.contacts__content {
  margin-right: 127px;
}
.contacts__title {
  padding-top: 26px;
  margin-bottom: 54px;
}
.contacts__text {
  line-height: 20px;
  width: 443px;
}
.contacts__form_input-name {
  width: 540px;
  height: 60px;
  border: 1px solid var(--darck-color);
  border-radius: 6px;
  margin-bottom: 24px;
}
.contacts__form_input-name::placeholder {
  padding-left: 31px;
  font-family: 'RobotoMRegular';
  font-size: 16px;
  color: #132743;
  opacity: 0.5;
}
.contacts__form_input-phone {
  width: 540px;
  height: 60px;
  border: 1px solid var(--darck-color);
  border-radius: 6px;
  margin-bottom: 24px;
}
.contacts__form_input-phone::placeholder {
  padding-left: 31px;
  font-family: 'RobotoMRegular';
  font-size: 16px;
  color: #132743;
  opacity: 0.5;
}
.contacts__form_btn {
  width: 160px;
  height: 50px;
  background-color: var(--red-color);
  color: var(--white-color);
  font-family: 'RobotoMRegular';
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}

/* Footer */

.footer {
  background-color: #fafafa;
  margin-bottom: 270px;
}
.footer__flex {
  padding-bottom: 46px;
}
.footer__title {
  padding-top: 43px;
  font-family: 'LatoBold';
  font-size: 18px;
  margin-bottom: 21px;
}
.footer__text {
  font-family: 'LatoRegular';
  font-size: 12px;
  line-height: 18px;
  max-width: 148px;
  margin-bottom: 43px;
}
.footer__copywriter {  
  font-family: 'LatoRegular';
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 1160px) {
  .container {
    max-width: 910px;
  }
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 150px 30px;
  }
  .benefits__content {
    left: 40%;
  }
  .contacts__flex {
    flex-direction: column;
  }
  .contacts__content {
    margin-right: 0;
  }
  .contacts__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .contacts__text {
    text-align: center;
    margin: 0 auto 42px;
  } 
  .contacts__form_input-name {
    display: block;
    margin: 0 auto 24px;
  }
  .contacts__form_input-phone {
    display: block;
    margin: 0 auto 24px;
  }
  .contacts__form_btn {
    display: block;
    margin: 0 auto;
  }  
}
@media screen and (max-width: 955px) {
  .container {
    max-width: 750px;
  }
  .text_h2 {
    font-size: 21px;
  }
  .text_p {
    font-size: 11px;
  }
  .header__navbar_menu {
    display: none;
  }
  .header__navbar_menu-btns {
    display: flex;
    align-items: center;
  }
  .header__navbar_btn {
    display: none;
    margin-right: 20px;
  }
  .header__navbar_burger {
    width: 40px;
    background-color: var(--white-color);
    padding: 5px 4px;
    border-radius: 5px;
  }
  .header__navbar_burger_line {
    height: 5px;
    background-color: var(--red-color);
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .header__navbar_burger_line:last-child {
    margin-bottom: 0;
  }
  
  .about__content {
    max-width: 500px;
    margin-right: 40px;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .about__text {
    line-height: 17px;
  }
  .benefits__content {
    left: 50%;
  }
  .download__content {
    margin-right: 81px;
  }
  .download__title {
    margin-bottom: 25px;
  }
  .download__text {
    max-width: 445px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .contacts__flex {
    padding-top: 30px;
    margin-bottom: 70px;
  }
  .footer {
    margin-bottom: 200px;
  } 
}
@media screen and (max-width: 810px) {
  .container {
    max-width: 610px;
  }
  .header__ {
    padding-bottom: 130px;
  }
  .header__navbar {
    margin-bottom: 60px;
  }
  .about__flex {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  } 
  .about__content {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .about__title {
    text-align: center;
    margin-bottom: 15px;
  }
  .about__text {
    text-align: center;
  }
  .about__link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .about__video {
    margin-bottom: 60px;
  }
  .benefits {
    padding-bottom: 160px;
  }
  .benefits__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 150px 30px;
    justify-items: center;
  }
  .benefits__title {
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .services__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 30px;
    margin-bottom: 150px;
  }
  .services__title {
    padding-top: 50px;
    margin-bottom: 40px;
  }  
  .download__flex {
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .download__content {
    margin-right: 0;    
  }
  .download__title {
    text-align: center;
    max-width: 366px;
    margin: 0 auto 25px;
  }
  .download__text {
    text-align: center;
    margin: 0 auto 20px;
  }
  .download__socials {
    margin: 0 auto 30px;
  }
  .download__video_mp4 {
    margin: 0 auto 60px;
  }
}

@media screen and (max-width: 660px) {
  .container {
    max-width: 450px;
  }
  .text_h1 {
    font-size: 40px;
  }
  .header__firstscreen_title {
    margin-bottom: 20px;
  }
  .header__firstscreen_text {
    margin: 0 auto 40px;
    font-size: 15px;
    line-height: 25px;
  }
  .contacts__form_input-name {
    width: 460px;
    height: 40px;
  }
  .contacts__form_input-name::placeholder {
    font-size: 12px;
    padding-left: 10px;
  }
  .contacts__form_input-phone {
    width: 460px;
    height: 40px;
  }
  .contacts__form_input-phone::placeholder {
    font-size: 12px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 490px) {
  .container {
    max-width: 360px;
  }
  .text_h3 {
    font-size: 13px;
  }
  .text_preview {
    font-size: 9px;
  }
  .header__navbar {
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 30px;
  }
  .header__navbar_logo {
  }
  .header__navbar_menu-btns {
    justify-content: flex-end;
    margin-bottom: 60px;
  }
  .header__firstscreen_title {
    display: none;
  }
  .header__firstscreen_text {
    max-width: 250px;
  }
  .about__video {
    width: 220px;
    height: 155px;
  }
  .benefits__grid {
    gap: 105px 30px;
  }
  .benefits__img {
    width: 220px;
    height: 155px;
  }
  .benefits__content {
    width: 187px;
    top: 82px;
  }
  .benefits__content_title {
    padding-top: 14px;
    max-width: 155px;
    margin: 0 auto 6px;
  }
  .benefits__content_text {
    max-width: 155px;
    line-height: 14px;
  }
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .download__text {
    max-width: 260px;
  }
  .download__video_mp4 {
    width: 220px;
    height: 155px;
  } 
  .contacts__text {
    width: 260px;
  }
  .contacts__form_input-name {
    width: 260px;
    height: 40px;
  }
  .contacts__form_input-name::placeholder {
    font-size: 12px;
    padding-left: 10px;
  }
  .contacts__form_input-phone {
    width: 260px;
    height: 40px;
  }
  .contacts__form_input-phone::placeholder {
    font-size: 12px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 250px;
  }
  .about__content {
    max-width: 220px;
  }
  .download__text {
    max-width: 220px;
  }
  .contacts__text {
    width: 220px;
  }
  .contacts__form_input-name {
    width: 220px;
    height: 40px;
  }
  .contacts__form_input-phone{
    width: 220px;
    height: 40px;
  }
  .header__firstscreen_text {
    max-width: 220px;
  }
}


