/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --darck-color: #000000;
  --white-color: #ffffff;
  --red-color: #ED4C5C;
 }
 
 /* Стили для текста */
 
 .text_h1 {
  font-family: 'RobotoBold';
  font-size: 72px;
  letter-spacing: 3.8px;
  color: var(--white-color);
  text-transform: uppercase;
 }
 .text_h2 {
  font-family: 'RobotoMedium';
  font-size: 36px;
  color: var(--darck-color);
 } 
 .text_h3 {
  font-family: 'RobotoMedium';
  font-size: 18px;
  color: var(--darck-color);
 }
 .text_p {
  font-family: 'RobotoMRegular';
  font-size: 14px;
  color: var(--darck-color);
 }
 .text_preview {
  font-family: 'RobotoMRegular';
  font-size: 12px;
  color: var(--darck-color);
 }
 .text_link {
  font-family: 'RobotoMRegular';
  font-size: 12px;
  color: var(--red-color);
  text-decoration: none;
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 1110px;
  margin: 0 auto;
 }

 /* Header */

 .header__ {
  background-image: url(../img/bg_header.jpg);  
  background-size: cover;
  background-repeat: no-repeat; 
  padding-bottom: 186px;
}

/* Navbar */

.header__navbar {
  padding-top: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 169px;
}
.header__navbar_menu {
  margin-right: 12px;
  display: flex;
  justify-content: space-between; 
  width: 440px;
  list-style: none;
}
.header__navbar_menu_item:last-child {
  margin-right: 0;
}
.header__navbar_menu_item a{
  font-family: 'RobotoMedium';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}
.header__navbar_btn {
  width: 100px;
  height: 40px;
  border: solid 1px var(--white-color);
  border-radius: 6px;
  background-color: transparent;
  color: var(--white-color);
  font-family: 'RobotoMRegular';
  font-size: 14px;
  text-transform: uppercase;
}

/* Firstscreen */

.header__firstscreen_title {
  text-align: center;
  margin-bottom: 40px;
}
.header__firstscreen_text {
  max-width: 443px;
  text-align: center;
  margin: 0 auto 56px;
  font-family: 'RobotoMedium';
  font-size: 24px;
  line-height: 36px;
  color: var(--white-color);
}
.header__firstscreen_btn {
  padding-top: 0;
  padding-left: 0;
  width: 160px;
  height: 50px;
  background-color: var(--white-color);
  border-radius: 6px;
  border: none;
  color: var(--red-color);
  font-family: 'RobotoMRegular';
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

/* About */

.about__flex {
  padding-top: 94px;
  display: flex;
}
.about__content {  
  max-width: 445px;
  margin-right: 125px;
}
.about__title {
  padding-top: 33px;
  margin-bottom: 47px;
}
.about__text {
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 14px;
}
.about__link {
  font-size: 14px;
}
.about__img {
  width: 445px;
  height: 311px;
  margin-bottom: 95px;
}

/* Benefits */

.benefits {
  background-color: #FAFAFA;
  padding-bottom: 283px;
}
.benefits__title {
  padding-top: 63px;
  text-align: center;
  margin-bottom: 77px;
}
.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.benefits__img {
  position: absolute;
  z-index: 1;
}
.benefits__content {
  background-color: var(--white-color);
  border-radius: 8px;
  z-index: 2;
  width: 293px;
  position: relative;
  top: 157px;
  left: 50%;
  transform: translate(-50%);  
  padding-bottom: 25px;
}
.benefits__content_title {
  padding-top: 26px;
  text-align: center;
  max-width: 229px;
  margin: 0 auto 20px;
}
.benefits__content_text {
  max-width: 229px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto 16px;
}
.benefits__content_link {
  display: block;
  text-align: center;
}

/* Services */

.services {
}
.services__title {
  padding-top: 65px;
  text-align: center;
  margin-bottom: 65px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 110px;
}
.services__card {  
  position: relative;
}
.services__card_number {
  font-family: 'LatoBold';
  font-size: 100px;
  color: #101010;
  opacity: 0.08;
  text-align: center;  
  margin: 0 auto;
  z-index: 1;
}
.services__card_content {
  position: absolute;  
  left: 50%;
  transform: translate(-50%);
  top: 58px;
  
}
.services__card_img-inner {
  height: 60px;
}
.services__card_img {
  margin: 0 auto;
}
.services__card_title {
  width: 209px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.text_h3 {
}
.services__card_text {
  max-width: 191px;
  margin: 0 auto;
  text-align: center;
}




